<div class="grid-products">
  <app-product
    [product]="product"
    *ngFor="let product of products"
    (showDetail)="onShowDetail($event)"
    (addedProduct)="onAddToShoppingCart($event)"
  ></app-product>
</div>
<button mat-flat-button color="primary" *ngIf="btnMoreActive" (click)="onLoadMore()">Load More</button>
<div [class.detailActive]="detailActive" class="detail">
  <button class="closed" (click)="toggleDetail()">X</button>
  <div class="detail-product">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{ productDetail.title }}</mat-card-title>
      </mat-card-header>
      <a mat-card-image [routerLink]="['/product/', productDetail.id]">
        <app-img [img]="productDetail.images[0]"></app-img>
      </a>
      <mat-card-content>
        <p>{{ productDetail.description }}</p>
      </mat-card-content>
      <mat-card-content>
        <p class="price">${{ productDetail.price }}</p>
        <p class="price" *ngIf="productDetail.taxes">
          {{ productDetail.taxes | currency : "COP" }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
