<mat-form-field appearance="fill">
  <mat-label>Name</mat-label>
  <input [formControl]="nameField" matInput placeholder="Your Name" />
  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  <!-- <mat-hint>Hint</mat-hint> -->
</mat-form-field>
<button mat-raised-button color="primary" (click)="getName()">Click Me!</button>

<mat-form-field appearance="fill">
  <mat-label>categories</mat-label>
  <mat-select [formControl]="categories" multiple>
    <mat-select-trigger>
      {{categories.value?.[0] || ''}}
      <span
        *ngIf="(categories.value?.length || 0) > 1"
        class="example-additional-selection"
      >
        (+{{ (categories.value?.length || 0) - 1 }}
        {{ categories.value?.length === 2 ? "other" : "others" }})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let category of categoriesList" [value]="category">{{
      category
    }}</mat-option>
  </mat-select>
</mat-form-field>

<div *ngIf="(categories.value?.length || 0) > 1">
  <h3>List from categories</h3>
  <mat-list>
    <mat-list-item *ngFor="let item of categories.value">
      <div matListItemTitle>{{ item }}</div>
    </mat-list-item>
  </mat-list>
</div>
