<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div formGroupName="fullName" class="fullName">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Your Name" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-error *ngIf="validValue({ group: 'fullName', forName: 'name' })">{{
        getErrorMessage({ group: "fullName", forName: "name" })
      }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input formControlName="last" matInput placeholder="Your Last Name" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-error *ngIf="validValue({ group: 'fullName', forName: 'last' })">{{
        getErrorMessage({ group: "fullName", forName: "last" })
      }}</mat-error>
    </mat-form-field>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      type="email"
      formControlName="email"
      required
    />
    <mat-error *ngIf="validValue({ forName: 'email' })">{{
      getErrorMessage({ forName: "email" })
    }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>categories</mat-label>
    <mat-select formControlName="categories" multiple>
      <mat-select-trigger>
        {{categories?.value?.[0] || ''}}
        <span
          *ngIf="(categories?.value?.length || 0) > 1"
          class="example-additional-selection"
        >
          (+{{ (categories?.value?.length || 0) - 1 }}
          {{ categories?.value?.length === 2 ? "other" : "others" }})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let category of categoriesList" [value]="category">{{
        category
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="(categories?.value?.length || 0) > 1">
    <h3>List from categories</h3>
    <mat-list>
      <mat-list-item *ngFor="let item of categories?.value">
        <div matListItemTitle>{{ item }}</div>
      </mat-list-item>
    </mat-list>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Phone number</mat-label>
    <input matInput formControlName="phone" type="tel" required />
    <mat-icon matSuffix>phone</mat-icon>
    <mat-error *ngIf="validValue({ forName: 'phone' })">{{
      getErrorMessage({ forName: "phone" })
    }}</mat-error>
    <mat-hint>Include area code</mat-hint>
  </mat-form-field>

  <label for="rangePriceMin">
    Price Gange min is 10$
    <mat-icon matSuffix>price_change</mat-icon>
    <input
      name="rangePriceMin"
      formControlName="rangePriceMin"
      min="0"
      max="100"
      type="range"
      required
    />
    {{ rangePriceMin?.value }}$
    <mat-error *ngIf="validValue({ forName: 'rangePriceMin' })">{{
      getErrorMessage({ forName: "rangePriceMin" })
    }}</mat-error>
  </label>
  <label for="rangePriceMax">
    Price Gange max is 100$
    <mat-icon matSuffix>price_change</mat-icon>
    <input
      formControlName="rangePriceMax"
      min="0"
      max="200"
      type="range"
      required
    />
    {{ rangePriceMax?.value }}$
    <mat-error *ngIf="validValue({ forName: 'rangePriceMax' })">{{
      getErrorMessage({ forName: "rangePriceMax" })
    }}</mat-error>
  </label>
  <mat-radio-group formControlName="typeUser">
    <mat-radio-button value="company">Company</mat-radio-button>
    <mat-radio-button value="costumer">Costumer</mat-radio-button>
    <mat-error *ngIf="validValue({ forName: 'typeUser' })">{{
      getErrorMessage({ forName: "typeUser" })
    }}</mat-error>
  </mat-radio-group>

  <mat-form-field appearance="fill">
    <mat-label>Company Name</mat-label>
    <input matInput formControlName="companyName" type="text" />
    <mat-icon matSuffix>company</mat-icon>
    <mat-error *ngIf="validValue({ forName: 'companyName' })">{{
      getErrorMessage({ forName: "companyName" })
    }}</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
