.header{
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
    a{
      background: #3e51b5;
      color: #fff;
      display: flex;
      place-content: end;
    }
}
.mat-mdc-table {
  width: 100%;
  max-height: 500px;
  overflow: auto;
}

.mat-column-name {
  height: 100px;
}
