<div class="header">
  <h2>Category</h2>
  <a mat-stroked-button color="primary" routerLink="create">
    <mat-icon>add_circle</mat-icon>
  </a>
</div>
<mat-table  [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="image">
    <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
    <mat-cell *matCellDef="let element">
    <img [src]="element.image" [alt]="element.name" width="70" style="object-fit: contain;" height="70">
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="update">
    <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button
        mat-button
        color="primary"
        (click)="updateCategory(element.id)"
        aria-label="icon button wia delete icon"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button
        mat-button
        color="warn"
        (click)="deleteCategory(element.id)"
        aria-label="icon button wia delete icon"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
