<div class="header">
  <h2>Products</h2>
  <a mat-stroked-button color="primary" routerLink="create">
    <mat-icon>add_circle</mat-icon>
  </a>
</div>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.title }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.price }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.description }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="category">
    <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.category.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="images">
    <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <img
        [src]="element.images[0]"
        [alt]="element.title"
        width="70"
        style="object-fit: contain"
        height="70"
      />
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="update">
    <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <a mat-stroked-button color="primary" [routerLink]="['edit', element.id]">
        <mat-icon>edit</mat-icon>
      </a>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button
        mat-button
        color="warn"
        (click)="deleteCategory(element.id)"
        aria-label="icon button wia delete icon"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
