.product {
  h2 {
    font-size: 21px;
    font-weight: 600;
    margin: 7px 0;
  }
  .date {
    font-size: 14px;
    font-weight: 400;
    margin: 7px 0;
  }
  .price {
    font-size: 18px;
    font-weight: 600;
    margin: 7px 0;
  }
}
